In [1]:
import sqlite3

## **Movie Database**

In this notebook, we will make a tutorial on how to create the database through python

## 1. Create a connection

In [2]:
# Create the connection to the database using sqlite
conn = sqlite3.connect('movie_database.db')
cursor = conn.cursor()
print("Database created and Successfully Connected to SQLite")

Database created and Successfully Connected to SQLite

## 2. Create a table

In [3]:
# Make an table from the files
cursor.execute('''
CREATE TABLE movies(
name VARCHAR not null,
ratings REAL not null,
details VARCHAR not null,
PRIMARY KEY(name))''')

## 3. Insert the data

In [5]:
cursor.execute('''
            INSERT INTO movies
            VALUES (?, ?, ?)''', ("Oppenheimer", 8.7, "The story of American scientist, J. Robert Oppenheimer, and his role in the development of the atomic bomb.")
                  )

cursor.execute('''
        INSERT INTO movies
        VALUES (?, ?, ?)''', ("The Godfather", 9.2, "Don Vito Corleone, head of a mafia family, decides to hand over his empire to his youngest son Michael. However, his decision unintentionally puts the lives of his loved ones in grave danger.")
              )

# Close the connection
conn.close()